<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8" />

<title>The View Outside Your Window</title>
<meta charset=utf-8 />
</head>
<body>
<div class="header"></div>
<div class="container">
<div class="cw">
</div> 
<header id="page_header">
<h1 class="header_image"><a href="/">The View Outside Your Window</a></h1>
</header>
<article class="post clearfix" id="post_{PostID}" style=" margin: 40px auto; width: 618px;">
          <div class="post-z-frame">
            <header>
                   <section class="private">
                      <aside>
                       
                        <div class="private_post_message">
                          <h1></h1>                             
                        </div>
                      </aside>
                    </section>
                    <h1><a href="{Permalink}">Hello World</a></h1>
              <div class="editbox">
              </div>

            </header>
            <div class="body">
              <div class="inner">
                            <br><br>
            <h2 style="padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: #4d4d4d; font-family: ChainprinterRegular, Lucida Grande, Lucida Sans, Lucida Sans Unicode, sans-serif; font-size: 0.857em; font-weight: normal; text-align: center; margin: 0px;">What is outside your window?&nbsp;</h2>
            <h2 style="padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: #4d4d4d; font-family: ChainprinterRegular, Lucida Grande, Lucida Sans, Lucida Sans Unicode, sans-serif; font-size: 0.857em; font-weight: normal; text-align: center; margin: 0px;">What is on your screen?</h2>
            <h2 style="padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: #4d4d4d; font-family: ChainprinterRegular, Lucida Grande, Lucida Sans, Lucida Sans Unicode, sans-serif; font-size: 0.857em; font-weight: normal; text-align: center; margin: 0px;">What are you thinking about?&nbsp;</h2>
            <br><br>
            
            
            <br><br>
            
              </div>
            </div>
        </div>
        
        <div class="post-head"></div>
        <div class="post-foot"></div>
      </article>

<%= yield %>
</div>

</body>
</html>